img {
  border-radius: 50%;
}

.App {
  text-align: center;
}

.section {
  border-width: 5px;
  border-color: pink;
  border-style: solid;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 16px;
  background-image: url("./background.png");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
